// Place all the styles related to the proverb controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	font-family: "AdobeGaramondW01-Regula", "リュウミン R-KL", "Ryumin Regular KL", "RyuminPro-Regular", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

.header {
	background-color: #666062;
	color: #fff;
	padding: 20px;
	display: flex;
	&-item {
		&__logo {
			flex-grow: 1;
		}
		&__btn {
			&__like {
				flex-grow: 1;
				text-align: right;
			}
			&__icon__heart {
				color: #fff0f5;
				padding-left: 8px;
			}
		}
	}
}

.container {
	width: 100%;
	height: 600px;
	position: relative;
	&__main {
		width: 75%;
		position: absolute;
		top: 50%;
		left: 50%;
  	transform: translateY(-50%) translateX(-50%);
		&-text {
			text-align: center;
		}
	}
	&__bottom {
		&__inner {
		display: flex;
		width: 150px;
		padding-left: 50px;
		position: fixed;
		bottom: 80px;
		}
		&-item {
			padding: 10px;
			&:hover {
				color: #ccc0c4;
				cursor: pointer;
			}
		}
	}
}

.footer {
	background-color: #656565;
	color: #fff;
	padding: 15px;
	position: fixed;
 	bottom: 0;
  width: 100%;
	&-item {
		&__copyright {
			text-align: center;
			font-size: 12px;
		}
	}
}
